/*

!/Praktikum1/
!/Praktikum2/
!/Praktikum3/
!/Praktikum3_Server/
!.gitignore
Praktikum3_Server/.idea/.gitignore
Praktikum3_Server/.idea/misc.xml
Praktikum3_Server/.idea/modules.xml
Praktikum3_Server/.idea/Praktikum3_Server.iml
Praktikum3_Server/.idea/vcs.xml
Praktikum3_Server/.idea/caches/deviceStreaming.xml
